.dropmenuNav {
    list-style-type: none
}

.sticky-filter {
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 20px;
    z-index: 1500;
}

.cart-items {
    max-height: 300px;
    overflow-y: scroll;
}

.remove-cart-btn {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.order-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.order-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.btn-quick-add:focus {
    background-color: rgba(179, 216, 181, 0.93)!important;
}

.btn-quick-add {
    background: hsla(0, 0%, 100%, .93)!important;
    transition: all 0.3s ease-out;
}