

body {
  background-color: lightblue;

}




button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.buttons {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

.reg {
  color: white;
  background-color: rgba(51, 153, 255, 1);
}

.log {
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(51, 153, 255, 1);
}

button.log:hover {
  color: white;
  width:;
  box-shadow: 0 0 20px rgba(51, 153, 255, 0.6);
  background-color: rgba(51, 153, 255, 1);
}


button.reg:hover {
  color: black;
  width:;
  box-shadow: 0 0 20px rgba(51, 153, 255, 0.6);
  background-color: rgba(255, 255, 255, 1);
}



.topnav {
  overflow: hidden;
  background-color: lightblue;
  position:absolute;
  margin: 50px 0 0 50px;
}


.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-radius: 20px
}



.topnav a:hover {
  background-color: rgba(51, 153, 255, 1);
  color: black;
}

.active {
  font-family: "Lucida Console", monospace;
  background-color: lightblue ;
  color: white;
  background: rgba(51, 153, 255, 1);
   width: 42px;
   height: 20px;
  border-radius: 20px

}


#burgerslider
{
  display: block;
  position: relative;
  top: : 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#burgerslider a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#burgerslider a:hover
{
  color: rgba(51, 153, 255, 1);
}


#burgerslider input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}



#burgerslider span:first-child
{
  transform-origin: 0% 0%;
}

#burgerslider span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#burgerslider input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#burgerslider input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#burgerslider input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#burger li
{
  padding: 10px 0;
  font-size: 22px;
}


#burgerslider input:checked ~ ul
{
  transform: none;
}

#burgerslider span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: rgba(51, 153, 255, 1);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#burger
{
  position: absolute;
  width: 50px;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 50px;

  background: lightblue;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;


  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.container {
  position: relative;
  margin: auto;
  overflow:hidden;
  width: 520px;
  height: 350px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, .5);
  border-radius: 10px;
}

img {
  width: 190px;
  height: 190px;
  float: left;
  margin-left: 0px 0px 0px 30px;
  border-radius: 10px;
  position:relative;
  top:-85px;

}
img:hover{

 transform: translateY(-20%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(51, 153, 255, 1) 0px 8px 16px -8px;


}

h1 {
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:27px;
  transition: all 0.05s ease-in-out;
  font-family: Lato, sans-serif;
  text-align:center;
  font-size:12px;
  font-weight:bold;
  margin-bottom:45px;
  position:relative;
  top:-85px;
  transition: all 0.2s ease-in-out;
  }

  p{
           margin:0;
           padding:0;
       }

.wrapper{
           width: 380px;
           height: 340px;
           transition: all 0.2s ease-in-out;
           box-shadow: 0 2px 7px #dfdfdf;
           margin: 50px auto;
           background: #fafafa;
           border-radius: 27px;
         }

  p.price
  {
      padding: 1rem 0;
      font-size: 1rem;
      font-weight: bold;
      font-family: Lato, sans-serif;
  }

  p.category {
   font-family: Lato, sans-serif;
  }

p.name
{
  font-family: Lato, sans-serif;
}

.buy--btn {
  padding: .5em .05em;
  border: none;
  border-radius: 10px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: rgba(51, 153, 255, 1);
  box-shadow: 2px 2px 25px -7px $color-primary;
  font-family: Lato, sans-serif;
  cursor: pointer;
  position:relative;
  top:-127px;
  left:-11px;

}

  .buy--btn:active{
    transform: scale(0.97);
  }

  .detailswrapper{


 width: 190px;
 height: 275px;
 border-radius: 30px;
 background: #212121;
 position:relative;
 right:-295px;
 top:-100px;
 box-shadow: 5px 5px 20px rgb(25, 25, 25),
             -5px -5px 20px rgb(60, 60, 60);
color:white;
text-align: center;
font-family: Lato, sans-serif;
text-transform:uppercase;
font-size: 10px;


  }
  .detailswrapper:hover
  {
    transform: translateY(10%);
    box-shadow: rgb(25, 25, 25, 0.25) 0px 13px 47px -5px, rgba(60, 60, 60, 1) 0px 8px 16px -8px;
  }

  .hoverwrapper {
    --g: 4px;     /* the gap */
   --b: 6px;    /* border thickness*/
   --c: rgba(51, 153, 255, 1); /* the color */


   padding: calc(var(--g) + var(--b));
   --_c: #0000 0 25%, var(--c) 0 50%;
   --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
   --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
   background:
     var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
     var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
   background-size: 200% var(--b),var(--b) 200%;
   cursor: pointer;
   filter: grayscale(50%);
   transition: .3s;
  }
  .hoverwrapper:hover{
    --_p: 75%;
  filter: grayscale(0%);
  }
